* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
}
.container {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}
.col-1 {
  width: 8.33%;
  float: left;
  padding: 0 15px;
}
.col-3 {
  width: 25%;
  float: left;
  padding: 0 15px;
}
.col-4 {
  width: 33.33%;
  float: left;
  padding: 0 15px;
}
.col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
}
.col-7 {
  width: 58.31%;
  float: left;
  padding: 0 15px;
}
.col-8 {
  width: 66.67%;
  float: left;
  padding: 0 15px;
}
.col-9 {
  width: 75%;
  float: left;
  padding: 0 15px;
}
.row {
  margin: 0 -15px;
}
.ptb-80 {
  padding: 80px 0;
}
.section-one {
  background: #d3cfcf;
}
.section-two {
  background: #ffffff;
}
.section-three {
  background: #ff7ee9;
}
.section-four {
  background: #ffffff;
}
.section-five {
  background: #53fd5b;
}
.box {
  background: #4af3ff;
  padding: 30px;
}

.box h2 {
  margin: 15px 0;
}



.fifty-fifty {
  text-align: center;
  padding: 10px 13px 20px 30px;
}